<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org"><!--声明Thymeleaf命名空间-->
<meta charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>thyme</title>
</head>
<body>
    <h1>Welcome to thyme Demo</h1>
    <div style="text-align: center">
        <a th:href="@{/alipay/index}">阿里支付</a>
        <a th:href="@{/weixin/index}">微信支付</a>
        <a th:href="@{/unionpay/index}">银联支付</a>
        <a th:href="@{/pay/index}">支付账单</a>
    </div>
</body>
</html>